assets/workflow-all-channels-reply.json
{
  "name": "Phillips Automates — AI Reply Bot (All Channels)",
  "nodes": [

    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "readStatus": "unread",
          "includeSpamTrash": false
        }
      },
      "id": "node-gmail-trigger",
      "name": "Gmail: New Email Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [200, 100],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-credential-id",
          "name": "Gmail OAuth2"
        }
      }
    },

    {
      "parameters": {
        "httpMethod": "POST",
        "path": "facebook-messenger-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-facebook-webhook",
      "name": "Facebook Messenger Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 240],
      "webhookId": "facebook-messenger-webhook"
    },

    {
      "parameters": {
        "httpMethod": "POST",
        "path": "instagram-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-instagram-webhook",
      "name": "Instagram DM Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 380],
      "webhookId": "instagram-webhook"
    },

    {
      "parameters": {
        "httpMethod": "POST",
        "path": "twilio-sms-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-twilio-webhook",
      "name": "Twilio SMS Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 520],
      "webhookId": "twilio-sms-webhook"
    },

    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-whatsapp-webhook",
      "name": "WhatsApp Business Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 660],
      "webhookId": "whatsapp-webhook"
    },

    {
      "parameters": {
        "httpMethod": "POST",
        "path": "website-form-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-website-form-webhook",
      "name": "Website Contact Form Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 800],
      "webhookId": "website-form-webhook"
    },

    {
      "parameters": {
        "jsCode": "// Normalise Gmail input into standard enquiry format\nconst data = $json;\nconst from = data.From || data.from || '';\nconst nameMatch = from.match(/^([^<]+)/);\nconst senderName = nameMatch ? nameMatch[1].trim() : from;\nconst emailMatch = from.match(/<([^>]+)>/);\nconst senderContact = emailMatch ? emailMatch[1] : from;\n\nreturn [{\n  json: {\n    channel_source: 'email',\n    sender_name: senderName,\n    sender_contact: senderContact,\n    message_content: data.text || data.snippet || data.body || '',\n    subject: data.Subject || data.subject || '',\n    thread_id: data.threadId || '',\n    message_id: data.id || ''\n  }\n}];"
      },
      "id": "node-normalise-gmail",
      "name": "Normalise: Gmail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 100]
    },

    {
      "parameters": {
        "jsCode": "// Normalise Facebook Messenger webhook payload\nconst body = $json.body || $json;\nlet senderName = 'Customer';\nlet senderId = '';\nlet messageText = '';\n\ntry {\n  const entry = body.entry && body.entry[0];\n  const messaging = entry && entry.messaging && entry.messaging[0];\n  senderId = messaging && messaging.sender && messaging.sender.id || '';\n  messageText = messaging && messaging.message && messaging.message.text || '';\n} catch(e) {}\n\nreturn [{\n  json: {\n    channel_source: 'facebook',\n    sender_name: senderName,\n    sender_contact: senderId,\n    message_content: messageText,\n    raw_payload: JSON.stringify(body)\n  }\n}];"
      },
      "id": "node-normalise-facebook",
      "name": "Normalise: Facebook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 240]
    },

    {
      "parameters": {
        "jsCode": "// Normalise Instagram DM webhook payload\nconst body = $json.body || $json;\nlet senderId = '';\nlet messageText = '';\n\ntry {\n  const entry = body.entry && body.entry[0];\n  const messaging = entry && entry.messaging && entry.messaging[0];\n  senderId = messaging && messaging.sender && messaging.sender.id || '';\n  messageText = messaging && messaging.message && messaging.message.text || '';\n} catch(e) {}\n\nreturn [{\n  json: {\n    channel_source: 'instagram',\n    sender_name: 'Instagram User',\n    sender_contact: senderId,\n    message_content: messageText,\n    raw_payload: JSON.stringify(body)\n  }\n}];"
      },
      "id": "node-normalise-instagram",
      "name": "Normalise: Instagram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 380]
    },

    {
      "parameters": {
        "jsCode": "// Normalise Twilio SMS webhook payload\nconst body = $json.body || $json;\nconst from = body.From || '';\nconst messageText = body.Body || '';\n\nreturn [{\n  json: {\n    channel_source: 'sms',\n    sender_name: 'SMS Customer',\n    sender_contact: from,\n    message_content: messageText,\n    raw_payload: JSON.stringify(body)\n  }\n}];"
      },
      "id": "node-normalise-sms",
      "name": "Normalise: SMS (Twilio)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 520]
    },

    {
      "parameters": {
        "jsCode": "// Normalise WhatsApp Business API webhook payload\nconst body = $json.body || $json;\nlet senderPhone = '';\nlet messageText = '';\nlet senderName = 'WhatsApp Customer';\n\ntry {\n  const entry = body.entry && body.entry[0];\n  const changes = entry && entry.changes && entry.changes[0];\n  const value = changes && changes.value;\n  const messages = value && value.messages && value.messages[0];\n  const contacts = value && value.contacts && value.contacts[0];\n  senderPhone = messages && messages.from || '';\n  messageText = messages && messages.text && messages.text.body || '';\n  senderName = contacts && contacts.profile && contacts.profile.name || 'WhatsApp Customer';\n} catch(e) {}\n\nreturn [{\n  json: {\n    channel_source: 'whatsapp',\n    sender_name: senderName,\n    sender_contact: senderPhone,\n    message_content: messageText,\n    raw_payload: JSON.stringify(body)\n  }\n}];"
      },
      "id": "node-normalise-whatsapp",
      "name": "Normalise: WhatsApp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 660]
    },

    {
      "parameters": {
        "jsCode": "// Normalise website contact form submission\nconst body = $json.body || $json;\nconst name = body.name || body.full_name || body.customer_name || 'Website Visitor';\nconst email = body.email || body.customer_email || '';\nconst message = body.message || body.enquiry || body.body || '';\n\nreturn [{\n  json: {\n    channel_source: 'website_form',\n    sender_name: name,\n    sender_contact: email,\n    message_content: message,\n    raw_payload: JSON.stringify(body)\n  }\n}];"
      },
      "id": "node-normalise-website-form",
      "name": "Normalise: Website Form",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 800]
    },

    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "node-merge-all-channels",
      "name": "Merge All Channels",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [700, 440]
    },

    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-channel",
              "name": "channel_source",
              "value": "={{ $json.channel_source }}",
              "type": "string"
            },
            {
              "id": "assign-sender-name",
              "name": "sender_name",
              "value": "={{ $json.sender_name }}",
              "type": "string"
            },
            {
              "id": "assign-sender-contact",
              "name": "sender_contact",
              "value": "={{ $json.sender_contact }}",
              "type": "string"
            },
            {
              "id": "assign-message",
              "name": "message_content",
              "value": "={{ $json.message_content }}",
              "type": "string"
            },
            {
              "id": "assign-business-name",
              "name": "business_name",
              "value": "[BUSINESS_NAME]",
              "type": "string"
            },
            {
              "id": "assign-business-type",
              "name": "business_type",
              "value": "[BUSINESS_TYPE]",
              "type": "string"
            },
            {
              "id": "assign-business-city",
              "name": "business_city",
              "value": "[BUSINESS_CITY]",
              "type": "string"
            },
            {
              "id": "assign-timestamp",
              "name": "received_at",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-set-business-context",
      "name": "Set Business Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [920, 440]
    },

    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 300,\n  \"system\": \"You are a helpful assistant for {{ $json.business_name }}, a {{ $json.business_type }} in {{ $json.business_city }}, UK. Reply to customer enquiries warmly and professionally. Answer questions about the business, take booking requests, and ask for their contact details if they want to book. Keep replies under 3 sentences. British English. Never make up specific details like prices or availability — instead say you'll get back to them shortly with that information.\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"A customer contacted us via {{ $json.channel_source }}. Their name is {{ $json.sender_name }}. Their message is: {{ $json.message_content }}\\n\\nPlease write a warm, helpful reply on behalf of {{ $json.business_name }}.\"\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "node-claude-api",
      "name": "Claude AI: Generate Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1140, 440],
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic-api-credential",
          "name": "Anthropic API Key"
        }
      }
    },

    {
      "parameters": {
        "jsCode": "// Extract the text reply from Claude API response\nconst response = $json;\nlet aiReply = '';\n\ntry {\n  aiReply = response.content[0].text;\n} catch(e) {\n  aiReply = 'Thank you for getting in touch! We\\'ve received your message and will get back to you shortly. — ' + $('Set Business Context').first().json.business_name;\n}\n\nconst ctx = $('Set Business Context').first().json;\n\nreturn [{\n  json: {\n    ...ctx,\n    ai_reply: aiReply\n  }\n}];"
      },
      "id": "node-extract-ai-reply",
      "name": "Extract AI Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 440]
    },

    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel_source }}",
                    "rightValue": "email",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "email"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel_source }}",
                    "rightValue": "facebook",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "facebook"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel_source }}",
                    "rightValue": "instagram",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "instagram"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel_source }}",
                    "rightValue": "sms",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sms"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel_source }}",
                    "rightValue": "whatsapp",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "whatsapp"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel_source }}",
                    "rightValue": "website_form",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "website_form"
            }
          ]
        },
        "options": {}
      },
      "id": "node-route-reply",
      "name": "Route Reply by Channel",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1580, 440]
    },

    {
      "parameters": {
        "sendTo": "={{ $json.sender_contact }}",
        "subject": "=Re: Your enquiry to {{ $json.business_name }}",
        "message": "={{ $json.ai_reply }}",
        "options": {
          "replyTo": "YOUR_BUSINESS_EMAIL@gmail.com"
        }
      },
      "id": "node-send-gmail-reply",
      "name": "Send Gmail Reply",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1820, 100],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-credential-id",
          "name": "Gmail OAuth2"
        }
      }
    },

    {
      "parameters": {
        "url": "https://graph.facebook.com/v18.0/me/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "YOUR_FACEBOOK_PAGE_ACCESS_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"recipient\": { \"id\": \"{{ $json.sender_contact }}\" },\n  \"message\": { \"text\": \"{{ $json.ai_reply }}\" },\n  \"messaging_type\": \"RESPONSE\"\n}",
        "options": {}
      },
      "id": "node-send-facebook-reply",
      "name": "Send Facebook Messenger Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1820, 240]
    },

    {
      "parameters": {
        "url": "https://graph.facebook.com/v18.0/me/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "YOUR_INSTAGRAM_PAGE_ACCESS_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"recipient\": { \"id\": \"{{ $json.sender_contact }}\" },\n  \"message\": { \"text\": \"{{ $json.ai_reply }}\" },\n  \"messaging_type\": \"RESPONSE\"\n}",
        "options": {}
      },
      "id": "node-send-instagram-reply",
      "name": "Send Instagram DM Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1820, 380]
    },

    {
      "parameters": {
        "url": "https://api.twilio.com/2010-04-01/Accounts/YOUR_TWILIO_ACCOUNT_SID/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "YOUR_TWILIO_PHONE_NUMBER"
            },
            {
              "name": "To",
              "value": "={{ $json.sender_contact }}"
            },
            {
              "name": "Body",
              "value": "={{ $json.ai_reply }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-send-sms-reply",
      "name": "Send SMS Reply (Twilio)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1820, 520],
      "credentials": {
        "httpBasicAuth": {
          "id": "twilio-basic-auth",
          "name": "Twilio Basic Auth"
        }
      }
    },

    {
      "parameters": {
        "url": "=https://graph.facebook.com/v18.0/{{ 'YOUR_WHATSAPP_PHONE_NUMBER_ID' }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_META_WHATSAPP_ACCESS_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.sender_contact }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"{{ $json.ai_reply }}\" }\n}",
        "options": {}
      },
      "id": "node-send-whatsapp-reply",
      "name": "Send WhatsApp Reply (Meta API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1820, 660]
    },

    {
      "parameters": {
        "sendTo": "={{ $json.sender_contact }}",
        "subject": "=Thanks for your enquiry — {{ $json.business_name }}",
        "message": "=Hi {{ $json.sender_name }},\n\n{{ $json.ai_reply }}\n\nBest wishes,\n{{ $json.business_name }}",
        "options": {
          "replyTo": "YOUR_BUSINESS_EMAIL@gmail.com"
        }
      },
      "id": "node-send-website-form-email",
      "name": "Send Email (Website Form Reply)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1820, 800],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-credential-id",
          "name": "Gmail OAuth2"
        }
      }
    },

    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "spreadsheet",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_INTERACTIONS_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Interactions",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.received_at }}",
            "channel": "={{ $json.channel_source }}",
            "sender_name": "={{ $json.sender_name }}",
            "sender_contact": "={{ $json.sender_contact }}",
            "message_received": "={{ $json.message_content }}",
            "reply_sent": "={{ $json.ai_reply }}",
            "business_name": "={{ $json.business_name }}"
          }
        },
        "options": {}
      },
      "id": "node-log-interaction",
      "name": "Log Interaction to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [2060, 440]
    },

    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * *"
            }
          ]
        }
      },
      "id": "node-evening-summary-trigger",
      "name": "Daily Summary Trigger (6pm)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [200, 1000]
    },

    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "spreadsheet",
        "operation": "get",
        "documentId": {
          "__rl": true,
          "value": "YOUR_INTERACTIONS_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Interactions",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "timestamp",
              "lookupValue": "={{ new Date().toISOString().split('T')[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-fetch-todays-interactions",
      "name": "Fetch Today's Interactions",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [440, 1000]
    },

    {
      "parameters": {
        "jsCode": "// Build summary email body from today's interactions\nconst items = $input.all();\nconst today = new Date().toLocaleDateString('en-GB');\n\nlet totalCount = items.length;\nconst channelCounts = {};\n\nfor (const item of items) {\n  const ch = item.json.channel || item.json.channel_source || 'unknown';\n  channelCounts[ch] = (channelCounts[ch] || 0) + 1;\n}\n\nlet channelSummary = Object.entries(channelCounts)\n  .map(([ch, count]) => `  • ${ch}: ${count} interaction${count !== 1 ? 's' : ''}`)\n  .join('\\n');\n\nif (totalCount === 0) {\n  channelSummary = '  • No interactions recorded today.';\n}\n\nlet interactionList = '';\nif (items.length > 0) {\n  interactionList = items.slice(0, 20).map((item, i) => {\n    const d = item.json;\n    return `${i+1}. [${d.channel || 'unknown'}] ${d.sender_name || 'Unknown'} — \"${(d.message_received || '').substring(0, 80)}...\"\\n   Reply: \"${(d.reply_sent || '').substring(0, 80)}...\"\\n`;\n  }).join('\\n');\n}\n\nconst body = `Good evening!\\n\\nHere is your AI Reply Bot daily summary for ${today}:\\n\\nTOTAL ENQUIRIES HANDLED: ${totalCount}\\n\\nBY CHANNEL:\\n${channelSummary}\\n\\n${interactionList}\\nHave a great evening!\\n\\nPhillips Automates`;\n\nreturn [{ json: { summary_body: body, total_count: totalCount, date: today } }];"
      },
      "id": "node-build-summary",
      "name": "Build Summary Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 1000]
    },

    {
      "parameters": {
        "sendTo": "YOUR_BUSINESS_OWNER_EMAIL@gmail.com",
        "subject": "=AI Reply Bot — Daily Summary ({{ $json.total_count }} enquiries handled today)",
        "message": "={{ $json.summary_body }}",
        "options": {}
      },
      "id": "node-send-summary-email",
      "name": "Send Daily Summary to Business Owner",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [900, 1000],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-credential-id",
          "name": "Gmail OAuth2"
        }
      }
    },

    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "EVENT_RECEIVED",
        "options": {
          "responseCode": 200
        }
      },
      "id": "node-webhook-response-fb",
      "name": "Respond to Facebook (200 OK)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [440, 180]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "EVENT_RECEIVED",
        "options": {
          "responseCode": 200
        }
      },
      "id": "node-webhook-response-ig",
      "name": "Respond to Instagram (200 OK)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [440, 320]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<Response></Response>",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "text/xml" }
            ]
          }
        }
      },
      "id": "node-webhook-response-twilio",
      "name": "Respond to Twilio (200 OK)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [440, 460]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "EVENT_RECEIVED",
        "options": {
          "responseCode": 200
        }
      },
      "id": "node-webhook-response-wa",
      "name": "Respond to WhatsApp (200 OK)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [440, 600]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"received\" }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "node-webhook-response-form",
      "name": "Respond to Website Form (200 OK)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [440, 740]
    }
  ],

  "connections": {
    "Gmail: New Email Trigger": {
      "main": [
        [
          { "node": "Normalise: Gmail", "type": "main", "index": 0 }
        ]
      ]
    },
    "Facebook Messenger Webhook": {
      "main": [
        [
          { "node": "Respond to Facebook (200 OK)", "type": "main", "index": 0 },
          { "node": "Normalise: Facebook", "type": "main", "index": 0 }
        ]
      ]
    },
    "Instagram DM Webhook": {
      "main": [
        [
          { "node": "Respond to Instagram (200 OK)", "type": "main", "index": 0 },
          { "node": "Normalise: Instagram", "type": "main", "index": 0 }
        ]
      ]
    },
    "Twilio SMS Webhook": {
      "main": [
        [
          { "node": "Respond to Twilio (200 OK)", "type": "main", "index": 0 },
          { "node": "Normalise: SMS (Twilio)", "type": "main", "index": 0 }
        ]
      ]
    },
    "WhatsApp Business Webhook": {
      "main": [
        [
          { "node": "Respond to WhatsApp (200 OK)", "type": "main", "index": 0 },
          { "node": "Normalise: WhatsApp", "type": "main", "index": 0 }
        ]
      ]
    },
    "Website Contact Form Webhook": {
      "main": [
        [
          { "node": "Respond to Website Form (200 OK)", "type": "main", "index": 0 },
          { "node": "Normalise: Website Form", "type": "main", "index": 0 }
        ]
      ]
    },
    "Normalise: Gmail": {
      "main": [
        [
          { "node": "Merge All Channels", "type": "main", "index": 0 }
        ]
      ]
    },
    "Normalise: Facebook": {
      "main": [
        [
          { "node": "Merge All Channels", "type": "main", "index": 1 }
        ]
      ]
    },
    "Normalise: Instagram": {
      "main": [
        [
          { "node": "Merge All Channels", "type": "main", "index": 2 }
        ]
      ]
    },
    "Normalise: SMS (Twilio)": {
      "main": [
        [
          { "node": "Merge All Channels", "type": "main", "index": 3 }
        ]
      ]
    },
    "Normalise: WhatsApp": {
      "main": [
        [
          { "node": "Merge All Channels", "type": "main", "index": 4 }
        ]
      ]
    },
    "Normalise: Website Form": {
      "main": [
        [
          { "node": "Merge All Channels", "type": "main", "index": 5 }
        ]
      ]
    },
    "Merge All Channels": {
      "main": [
        [
          { "node": "Set Business Context", "type": "main", "index": 0 }
        ]
      ]
    },
    "Set Business Context": {
      "main": [
        [
          { "node": "Claude AI: Generate Reply", "type": "main", "index": 0 }
        ]
      ]
    },
    "Claude AI: Generate Reply": {
      "main": [
        [
          { "node": "Extract AI Reply", "type": "main", "index": 0 }
        ]
      ]
    },
    "Extract AI Reply": {
      "main": [
        [
          { "node": "Route Reply by Channel", "type": "main", "index": 0 }
        ]
      ]
    },
    "Route Reply by Channel": {
      "main": [
        [
          { "node": "Send Gmail Reply", "type": "main", "index": 0 }
        ],
        [
          { "node": "Send Facebook Messenger Reply", "type": "main", "index": 0 }
        ],
        [
          { "node": "Send Instagram DM Reply", "type": "main", "index": 0 }
        ],
        [
          { "node": "Send SMS Reply (Twilio)", "type": "main", "index": 0 }
        ],
        [
          { "node": "Send WhatsApp Reply (Meta API)", "type": "main", "index": 0 }
        ],
        [
          { "node": "Send Email (Website Form Reply)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Gmail Reply": {
      "main": [
        [
          { "node": "Log Interaction to Google Sheet", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Facebook Messenger Reply": {
      "main": [
        [
          { "node": "Log Interaction to Google Sheet", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Instagram DM Reply": {
      "main": [
        [
          { "node": "Log Interaction to Google Sheet", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send SMS Reply (Twilio)": {
      "main": [
        [
          { "node": "Log Interaction to Google Sheet", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send WhatsApp Reply (Meta API)": {
      "main": [
        [
          { "node": "Log Interaction to Google Sheet", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Email (Website Form Reply)": {
      "main": [
        [
          { "node": "Log Interaction to Google Sheet", "type": "main", "index": 0 }
        ]
      ]
    },
    "Daily Summary Trigger (6pm)": {
      "main": [
        [
          { "node": "Fetch Today's Interactions", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Today's Interactions": {
      "main": [
        [
          { "node": "Build Summary Email", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build Summary Email": {
      "main": [
        [
          { "node": "Send Daily Summary to Business Owner", "type": "main", "index": 0 }
        ]
      ]
    }
  },

  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z",
      "id": "tag-reply-bot",
      "name": "AI Reply Bot"
    }
  ],
  "triggerCount": 7,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "v1",
  "_meta": {
    "description": "Phillips Automates — AI Reply Bot covering all 6 channels",
    "credentials_needed": [
      "Gmail OAuth2 — for sending and receiving emails",
      "Google Sheets service account — for logging interactions",
      "Anthropic API Key — set as HTTP Header Auth with header name 'x-api-key' and value = your Anthropic key",
      "Twilio Basic Auth — Account SID as username, Auth Token as password",
      "Facebook Page Access Token — replace YOUR_FACEBOOK_PAGE_ACCESS_TOKEN",
      "Instagram Page Access Token — replace YOUR_INSTAGRAM_PAGE_ACCESS_TOKEN",
      "Meta WhatsApp Access Token — replace YOUR_META_WHATSAPP_ACCESS_TOKEN and YOUR_WHATSAPP_PHONE_NUMBER_ID"
    ],
    "placeholders_to_replace": [
      "[BUSINESS_NAME] — the client's business name (e.g. 'Tony's Garage')",
      "[BUSINESS_TYPE] — the type of business (e.g. 'car garage and MOT centre')",
      "[BUSINESS_CITY] — the city (e.g. 'Birmingham')",
      "YOUR_BUSINESS_EMAIL@gmail.com — the business Gmail address used for sending replies",
      "YOUR_BUSINESS_OWNER_EMAIL@gmail.com — where the nightly summary goes",
      "YOUR_INTERACTIONS_SHEET_ID — Google Sheet ID for logging all interactions",
      "YOUR_TWILIO_ACCOUNT_SID — from your Twilio console",
      "YOUR_TWILIO_PHONE_NUMBER — your Twilio SMS number in E.164 format (+441234567890)",
      "YOUR_WHATSAPP_PHONE_NUMBER_ID — from Meta Business Manager > WhatsApp > API Setup"
    ],
    "google_sheet_headers": [
      "timestamp",
      "channel",
      "sender_name",
      "sender_contact",
      "message_received",
      "reply_sent",
      "business_name"
    ],
    "webhook_urls": [
      "POST /facebook-messenger-webhook — register in Meta App Dashboard > Webhooks",
      "POST /instagram-webhook — register in Meta App Dashboard > Instagram > Webhooks",
      "POST /twilio-sms-webhook — set in Twilio Console > Phone Numbers > Configure > Messaging",
      "POST /whatsapp-webhook — register in Meta App Dashboard > WhatsApp > Webhooks",
      "POST /website-form-webhook — add to website contact form action URL"
    ],
    "facebook_instagram_verification": "For webhook verification, n8n webhook URLs support GET requests — Meta requires you to return the hub.challenge query param. Add a separate GET webhook node to handle the challenge verification handshake."
  }
}
